name: Validate PR

on:
    pull_request:

jobs:
    prek:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: latest
                  run_install: false

            - uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "pnpm"

            - name: Install Dependencies
              run: pnpm install

            - name: Run prek
              run: pnpm prek run -a
